
 @model Product

<div class="container">
    <div class="row">
        <!-- Product Data (Left Side) -->
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Product Name: @Model.Title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Product Id: @Model.ProductId</h6>
                    <h6 class="card-subtitle mb-2 text-muted">Product Price: @Model.Price</h6>
                    <h6 class="card-subtitle mb-2 text-muted">Product Description: @Model.Description</h6>
                    <h6 class="card-subtitle mb-2 text-muted">Product Quantity: @Model.Quantity</h6>
                    <h6 class="card-subtitle mb-2 text-muted">Category Name: @Model.Category?.Name</h6>
                    <a href="~/Product/Index" class="btn btn-primary mt-4">Back</a>
                </div>
            </div>
        </div>

        <!-- Product Image (Right Side) -->
        <div class="col-md-6">
            @if (!string.IsNullOrEmpty(Model.ImagePath))
            {
                <img src="~/images/products/@Model.ImagePath" alt="Product Image" class="img-fluid" />
            }
            else
            {
                <p>No image available</p>
            }
        </div>
    </div>
</div>
